.search{
    width: 450px;
    height: 50px;
    background-color: rgba(255, 254, 254, 0.8);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
 margin-bottom: 20px;
}
.search input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: transparent;
}
.search i{
    color: #030303;
}*
{
    margin: 0;
    padding: 0;
    
}
body
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(background.jpg);
        background-position: center;
    background-size: cover;   
}
.logo
{
    width: 150px;
    margin-top: 18px;
}
.header
{
    height: 10%;

}
.header-btn
{
    text-decoration: none !important;
    border-radius: 38px;
    padding: 7px 20px;
    float: right;
    margin-top: 15px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
}
.movie-details{
    margin: 3% 0;
}
.left-box
{
    color: #fff;
}
.left-box a
{
     text-decoration: none !important;
    border-radius: 38px;
    padding: 7px 20px;
    margin-top: 35px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}

.download-btn
{
    border: 1px solid #fff !important;
    background: transparent !important;
    
}
.fa
{
    margin: 0 5px;
}
.movie-img
{
    height: 357px;
    box-shadow: -4px 4px 5px 0 #000;
    margin-left: 130px;
    
}
.series h3
{
    color: #fff;
}
.series img
{
    width: 150px;
    margin-top: 15px;
    margin-left: 20px;
    box-shadow: -4px 4px 5px 0 #000;
    cursor: pointer;
    transition: 1s;
}
.series img:hover{
    transform: translateY(-10px);
}
